*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: black;
    color :white;
    height : 4.5rem;
    line-height: 4.5rem;
    
}
.choice:hover{
    cursor: pointer;
    background-color: black;
}

.choice{
    height: 165px;
    width : 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items : center;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border: 3.5px solid black;
    border-radius : 50vmin;

}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 2.5rem;
    margin-top: 100px;
}
.score-board{
display :flex;
justify-content: center;
align-items : center;
font-size : 2rem;
margin-top: 50px;
gap : 50px;
}

#user-score, #comp-score{
    font-size: 4rem;
    color: blueviolet;
}

.msg-container{
    margin-top: 60px;
}
#msg{
    
    background-color: black;
    color: white;
    font-size : 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 20px;
}